body {
    margin: 0;
    border: 0;
    padding: 0;
}

#content {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

input {
    font-size: 16px;
}

.play {
    height: 100%;
}

.checkbox {
    margin-right: 1em;
}

.button {
    width: 16em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1em;
}

h1, h2, #play-arena, .centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centered {
    font-size: 14px;
    font-weight: normal;
}
