<?xml version='1.0' encoding='utf-8'?>
<widget
        id="com.wanderinggames.GunBat"
        version="1"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0">

    <name>Gun Bat!</name>

    <description>Gun Bat positional audio test</description>

    <feature name="Geolocation">
        <param name="android-package" value="org.apache.cordova.GeoBroker" />
    </feature>
    <feature name="Compass">
        <param name="android-package" value="org.apache.cordova.CompassListener" />
    </feature>
    <feature name="http://api.phonegap.com/1.0/device" />

</widget>